.rarity {
  z-index: 30;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgb(33, 112, 162) 0%, rgb(16, 67, 103) 100%);


  @media all and (min-width: 1366px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  .card {
    position: relative;
    background: #092F4C;
    z-index: 31;

    @media all and (min-width: 1366px) {
      border-radius: 14px;
      padding-top: 23px;
      padding-bottom: 55px;
    }

    .title {
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 37px;
      color: #FFFFFF;
      @media all and (min-width: 1366px) {
        font-size: 50px;
        line-height: 61px;
      }

    }

    .white {
      position: relative;
      z-index: 31;
      background: #FFFFFF;
      padding: 80px 18px 160px;
      margin-top: 78px;

      @media all and (min-width: 1366px) {
        margin: 23px 95px 0;
        grid-gap: 5px;
        padding: 95px 160px 115px;
      }

      .content {
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 5px;

        @media all and (min-width: 1366px) {
          grid-template-rows: repeat(4, 1fr);
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px 10px;
        }

        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px dashed rgba(28, 39, 61, 0.34);
          padding-left: 10px;
          padding-right: 10px;

          .name {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #707070;
            @media all and (min-width: 1366px) {
              font-size: 24px;
            }
          }

          .value {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            color: #0D1953;
            @media all and (min-width: 1366px) {
              font-size: 30px;
            }
          }

        }
      }

    }

    .total {
      z-index: 36;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 88px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media all and (min-width: 1366px) {
        bottom: -22px;
        transform: none;
        left: 150px;
        right: 150px;
        background: #EFF7FC;
        border-radius: 23px;
        padding: 20px 0px 12px;
      }

      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        color: #0D1953;
        @media all and (min-width: 1366px) {
          font-size: 30px;
          line-height: 37px;
        }
      }

    }

    .images_left_top {
      z-index: 35;
      position: absolute;
      top: 60px;
      left: 18px;
      right: 18px;
      height: 100px;
      display: flex;
      justify-content: space-between;

      @media all and (min-width: 1366px) {
        top: 70px;
        left: 18px;
        bottom: 30px;
        width: 150px;
        height: auto;
        flex-direction: column;
      }

      img {
        position: relative;
        z-index: 35;
        width: 100px;
        height: 100px;
        @media all and (min-width: 1366px) {
          width: 145px;
          height: 145px;
        }
      }

    }

    .images_right_bottom {
      z-index: 36;
      position: absolute;
      bottom: -56px;
      left: 18px;
      right: 18px;
      height: 100px;
      display: flex;
      justify-content: space-between;

      @media all and (min-width: 1366px) {
        top: 70px;
        right: 18px;
        bottom: 30px;
        width: 150px;
        left: auto;
        height: auto;
        flex-direction: column;
      }

      img {
        position: relative;
        z-index: 36;
        width: 100px;
        height: 100px;

        @media all and (min-width: 1366px) {
          width: 145px;
          height: 145px;
        }
      }

    }

  }







}